<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- Use Spring AOP to bind logging to all of our services classes -->
    <bean id="customizableTraceInterceptor" class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
        <property name="enterMessage" value="$[targetClassShortName] :: Entering $[methodName]($[arguments])"/>
        <property name="exitMessage" value="$[targetClassShortName] :: Leaving $[methodName](): $[returnValue] :: Invocation Time $[invocationTime] ms"/>
        <property name="exceptionMessage" value="$[targetClassShortName] :: Exception thrown for $[methodName] with the following exception $[exception]" />
    </bean>

    <aop:config>
        <!-- Pointcut with any method defined in the services package -->
        <aop:advisor advice-ref="customizableTraceInterceptor" pointcut="execution(public * me.alanfoster.services..*.*(..))"/>
    </aop:config>

    <!-- Allow spring to load all components from our controllers package -->
    <context:component-scan base-package="me.alanfoster.services"/>

    <!-- Scan classes for annotations - In particular @Required and @Autowired -->
    <context:annotation-config />
    <!-- Handle @Transaction annotations -->
    <tx:annotation-driven />

    <!-- Import the in memory datasource, instead of the mysqlDataSourceBeans -->
    <import resource="classpath:inMemoryDataSourceBeans.xml" />

    <!-- Import the core hibernate files -->
    <import resource="classpath:hibernateCoreBeans.xml" />

</beans>