<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
    ">


    <!-- Application Config property placeholder -->
    <bean id="applicationTestConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:core.properties</value>
                <value>classpath:employeewebservice.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- Import the in memory datasource, instead of the mysqlDataSourceBeans -->
<!--   <import resource="classpath:inMemoryDataSourceBeans.xml" />-->

    <!-- Import the core hibernate files -->
<!--    <import resource="classpath:hibernateCoreBeans.xml" />-->

    <!-- Wire up our application's beans -->
<!--    <import resource="classpath:/spring-employee-servlet.xml"/>-->

    <!-- Selenium Releated Beans -->
    <bean id="firefoxWebDriver" class="org.openqa.selenium.firefox.FirefoxDriver" destroy-method="quit" />
   
    <!-- Selenium Helper -->
    <bean id="seleniumHelper" class="me.alanfoster.application.SeleniumHelper">
        <constructor-arg index="0" ref="firefoxWebDriver" />
        <constructor-arg index="1" value="test" />
    </bean>

</beans>