/* Increase the container size, otherwise graphs get cut off */
.tab-content {
    height: 500px;
}

/* Setting specific arc information */
.arc path {
    stroke: white;
}

/* Hide the chartand empty message by default  */
#jobCategoriesReport, #jobCategoriesEmpty {
    display: none;
}

label {
    display: inline-block;
    width: 5em;
}