/* Increase the container size, otherwise graphs get cut off */
.tab-content {
    overflow: auto;
}
/* Setting specific arc information */
.arcLabel {
    /* Allow pass through of DOM event when hovering over label */
    pointer-events:none;
}

.arc path {
    stroke: white;
}

.arc path:hover {
    opacity: 0.7;
}

/* Hide the chart and empty message by default  */
#jobCategoriesReport, #jobCategoriesEmpty {
    display: none;
}


label {
    display: inline-block;
    width: 5em;
}

/* Tree */
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node circle:hover {
    fill: #ccc;
    cursor: help;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
